.root {
    -fx-background-color: #fff8ec; 
}
.label{
    -fx-text-fill: #212529;
    -fx-font-family: "VAGRounded", Sans-serif;
}
.button {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #FF620F;
    -fx-background-radius: 15px;
}
.button:hover{
    -fx-background-color: #FA8003;
    -fx-background-radius: 15px;
}
.button:pressed{
    -fx-background-color: #d6001c;
    -fx-background-radius: 15px;
}
.table-view {
    -fx-background-color: #FFFFFF;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}